@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  color: #212529;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #212529;
    color: #F8F9FA;
  }
}

/* Tailwind base and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;
